  <%= render partial: 'events/detailed_event', locals: { event: event } %>

  <% unless Attendance.exists?(member: @member, event: event) %>
    <%= form_with url: verify_attendances_path, method: :post, local: true do %>
      <div class="field">
        <%= label_tag :attendance_code, 'Attendance Code' %>
        <%= text_field_tag :attendance_code %>
      </div>
      <%= hidden_field_tag :event_id, event.id %>
      <div class="actions">
        <%= submit_tag 'Verify', class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% else %>
    <p>You have already attended this event.</p>
  <% end %>