<div class="bg-white shadow-md rounded-lg p-6 mb-6">

<div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Events</h1>
    <!-- New Event button (conditionally shown) -->
    <% if current_member.role >= 5 %>
        <%= link_to 'New Event', new_event_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
</div>

<%= form_with url: events_path, method: :get, local: true do |form| %>
  <div class="mb-4">
    <%= form.text_field :query, placeholder: "Search by name or location...", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", value: params[:query] %>
  </div>
<% end %>

  <!-- Grid container for desktop view while using list for mobile devices (responsive design) -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    
    <!-- Left column: Current Events -->
    <div class="lg:col-span-1">
      <h2 class="text-xl font-semibold mb-4">Events In Progress</h2>
      <ul class="mb-4">
        <% @current_events.each do |event| %>
          <%= render partial: 'events/event', locals: { event: event } %>
        <% end %>
      </ul>
    </div>

    <!-- Right column: All Other Events -->
    <div class="lg:col-span-1">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold"><%= params[:filter] == 'past' ? 'Past Events' : 'Future Events' %></h2>
        <!-- Filter toggle button -->
        <%= form_with url: request.path, method: :get, local: true, class: 'mb-4' do %>
          <%= hidden_field_tag :filter, params[:filter] == 'past' ? 'future' : 'past' %>
          <%= hidden_field_tag :query, params[:query] %>
          <%= submit_tag params[:filter] == 'past' ? 'Show Future Events' : 'Show Past Events', class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
        <% end %>
      </div>
      <ul>
        <% @events.each do |event| %>
          <%= render partial: 'events/event', locals: { event: event } %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="mt-4">
    <%= paginate @events %>
  </div>
</div>