<div class="flex justify-between items-center mb-4">
    <h1>Previous Guest Speakers</h1>
    <% if current_member.admin? %>
        <%= link_to 'Add Speaker', new_speaker_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
</div>

<%= form_with url: speakers_path, method: :get, local: true do |form| %>
  <div class="mb-4">
    <%= form.text_field :query, placeholder: "Search by name or email...", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", value: params[:query] %>
  </div>
<% end %>

<ul>
    <% @speakers.each do |speaker| %>
        <%= render partial: 'speaker', locals: { speaker: speaker } %>
    <% end %>
</ul>

<div class="mt-4">
  <%= paginate @speakers %>
</div>